<div class='container'>
  <div class='row main'>
    <div class='col-lg-3 offset-lg-5 col-md-10 offset-md-1 exchange_box'>
      <div class='row'>
          <div class='col-md-8 offset-md-2 text-sm-center'>
            <%= image_tag '/logo.png', class: 'img-fluid'%>
          </div>
      </div>

      <div class='row'>
        <%= render 'shared/exchange_box' %>
      </div>
    </div>
  </div>
</div>