.exchange_box{



  .card{
    border: 0;

    .card-header{
      background-color: #222831;
      border-radius: 0;
      color: #00adb5;
      font-weight: 700;
    }

    .card-block{
      padding-top: 10px;
      padding: 20px;
      background-color: #393e46;

      .title{
        color: #00adb5;
        font-weight: 700;
        font-size: 12px
      }

      .btn-exchange{
        background-color: #00adb5;
        border-color: #00adb5;
        border-radius: 0;
      }

      .form-control{
         background-color: #eeeeee;
      }

      .center {
          display: block;
          margin-left: auto;
          margin-right: auto;
          cursor: pointer;
          max-width: 36px;
          max-height: 36px;
      }
    }
  }
}

p {
    margin-bottom: 3px;
    font-size: 16px;
}


@media only screen and (max-width : 992px) {
  .card-header {
    font-size: 25px;
  }

  .title{
    margin-top: 30px;
    font-size: 20px;
  }
    
  .form-group {
    select {
      font-size: 20px;
      height: 50px !important;
    }

    input {
      font-size: 20px;
      height: 50px;
    }
  }


  #result {
    margin-bottom: 20px;
  }

  .btn-exchange {
    font-size: 20px;
  }
}
